@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-bg-color {
  background-color: #9c27b0;
}

.navbar-bg-color .navbar-brand,
.navbar-bg-color .nav-link {
  color: #FFFFFF;
}

footer {
  margin-top: 2em;
  background-color: #9c27b0;
  color: #FFFFFF;
}

.white-text {
  color: #FFFFFF;
}

.release-date {
  float: right;
  margin-right: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

